

.e-schedule .e-appointment-details {
  padding: 0!important;
}

.template-wrap{
  background: green;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

/* Blue month headers */
.e-schedule .e-timeline-month-view .e-header-cells,
.e-schedule .e-timeline-month-view .e-content-wrap .e-header-cells {
  background-color: #2196F3 !important;
  color: white !important;
}

/* Adjust cell height for better visibility */
.e-schedule .e-timeline-month-view .e-content-wrap table colgroup col {
  width: 200px !important;
}

.e-schedule .e-timeline-month-view .e-appointment {
  border-radius: 4px !important;
}
.e-toolbar-item.e-active {
  color: blue !important; /* Change active month text to blue */
  font-weight: bold;
}
